.box-weather-wrapper {
  display: flex;
  flex-wrap: wrap;
  item-align: stretch;

  &:before, &:after {
    content:" ";
    display: table;
    width: 0; /* Fix for Google Chrome */
  }

  .box-header {
    min-height: 85px;
  }
  .box-body {
    text-align: center;
  }

  @media (max-width: $screen-desktop) {
    display: block;
  }
}
.box-weather {
  min-height: 300px;
  display: flex;
}

.box {
  border-radius: 0;
}


.box-date {
  margin-bottom: 0;
}


.min-temp, .max-temp {
  display: block;
  font-size: 20px;

  .glyphicon {
    font-size: 15px;
  }
}

.max-and-min, .temp-now {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
