
.box-weather-wrapper {
  @extend .box-flex;

  .box-header {
    min-height: 85px;
  }
  .box-body {
    text-align: center;
  }

  .box {
    border-radius: 0;
  }
}

.box-weather {
  min-height: 300px;
}

.box-date {
  margin-bottom: 0;
}


.min-temp, .max-temp {
  display: block;
  font-size: 20px;

  .glyphicon {
    font-size: 15px;
  }

  &.big {
    font-size: 32px;
  }
}

.max-and-min, .temp-now {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
