<section class="content-header">
  <h1>Weather dashboard</h1>
</section>

<section class="content content-all">
  <div class="overlay-all" data-loading>
    <i class="glyphicon glyphicon-refresh glyphicon-spin"></i>
  </div>
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Settings</h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-md-6">
            <select chosen
                    ng-model="main.currentState"
                    ng-options="state.initials as state.name for state in main.states"
                    ng-change="main.setState(main.currentState)">
                    <option value="">Selecione o seu estado</option>
            </select>

            <select chosen
                    ng-model="main.currentCity"
                    ng-options="city as city for city in main.activeState.cities track by city">
                    <option value="">Selecione a sua cidade</option>
            </select>

            <input type="checkbox" id=""> Lembrar

            <button class="btn btn-primary pull-right" ng-disabled="!main.currentState || !main.currentCity" ng-click="main.getInfo()">Enviar</button>
        </div>
      </div>

    </div><!-- /.box-body -->
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row-no-padding">
        <div class="col-md-2">
            <div class="box box-weather box-success">
              <div class="box-header with-border">
                <h3 class="box-title">{{main.forecast.agora.descricao}}</h2>
                <p class="box-date">Hoje</p>
              </div>
              <div class="box-body">
                <img ng-src="{{main.forecast.agora.imagem}}" class="center" alt="">
                <h2>{{main.forecast.agora.temperatura}} ºC</h2>
              </div>
            </div>
        </div>
        <div class="col-md-2" ng-repeat="ft in main.forecast.previsoes">
            <div class="box box-weather">
              <div class="box-header with-border">
                <h3 class="box-title">{{ft.descricao}}</h2>
                <p class="box-date">{{ft.data}}</p>
              </div>
              <div class="box-body">
                <img ng-src="{{ft.imagem}}" class="center" alt="">
                <h3>{{ft.temperatura_max}} ºC</h2>
                <h3>{{ft.temperatura_min}} ºC</h2>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
