<section class="content-header">
  <h1>Previsão do tempo</h1>
</section>

<section class="content content-all">
  <div class="overlay-all" data-loading>
    <i class="glyphicon glyphicon-refresh glyphicon-spin"></i>
  </div>
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Opções</h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-md-6">
            <select chosen
                    ng-model="main.currentState"
                    ng-options="state.initials as state.name for state in main.states"
                    ng-change="main.setState(main.currentState)">
                    <option value="">Selecione o seu estado</option>
            </select>

            <select chosen
                    ng-model="main.currentCity"
                    ng-options="city as city for city in main.activeState.cities track by city">
                    <option value="">Selecione a sua cidade</option>
            </select>

            <input type="checkbox" id=""> Lembrar

            <button class="btn btn-primary pull-right" ng-disabled="!main.currentState || !main.currentCity" ng-click="main.getInfo()">Enviar</button>
        </div>
      </div>

    </div><!-- /.box-body -->
  </div>

  <div class="row">
    <div class="col-xs-12" ng-show="main.forecast">
      <h1 class="h2">Tempo para: {{ main.forecast.cidade }}</h1>
      <div class="row-no-padding box-weather-wrapper">
        <div class="box-weather col-xs-12 col-sm-4">
            <div class="box box-success">
              <div class="box-header with-border">
                <h3 class="box-title">{{main.forecast.agora.descricao}}</h3>
                <p class="box-date">Hoje</p>
              </div>
              <div class="box-body">
                <img ng-src="{{main.forecast.agora.imagem}}" class="center-block" alt="">
                <h2 class="temp-now">{{main.forecast.agora.temperatura}} ºC</h2>
                <div class="max-and-min">
                  <span class="max-temp">
                    <i class="glyphicon glyphicon-arrow-up text-red"></i>
                    {{main.forecast.previsoes[0].temperatura_max}} ºC
                  </span>
                  <span class="min-temp">
                    <i class="glyphicon glyphicon-arrow-down text-light-blue"></i>
                     {{main.forecast.previsoes[0].temperatura_min}} ºC
                  </span>
                </div>
              </div>
            </div>
        </div>
        <div class="box-weather col-xs-6 col-sm-4 col-md-2" ng-repeat="ft in main.forecast.previsoes" ng-if="!$first">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">{{ft.descricao}}</h3>
                <p class="box-date">{{ft.data}}</p>
              </div>
              <div class="box-body">
                <img ng-src="{{ft.imagem}}" class="center" alt="">
                <span class="max-temp">
                  <i class="glyphicon glyphicon-arrow-up text-red"></i>
                  {{ft.temperatura_max}} ºC
                </span>
                <span class="min-temp">
                  <i class="glyphicon glyphicon-arrow-down text-light-blue"></i>
                  {{ft.temperatura_min}} ºC
                </span>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-3">
      <div class="box">
        {{main.min}}
        {{main.max}}
      </div>
    </div>
  </div>
</section>
