<section class="content-header">
  <h1>Previsão do tempo</h1>
</section>

<section class="content content-all">
  <div class="overlay-all" data-loading>
    <i class="glyphicon glyphicon-refresh glyphicon-spin"></i>
  </div>
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Opções</h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-lg-3 col-sm-4 col-xs-12">
            <select chosen
                    class="form-control chosen-select"
                    ng-model="main.location.state"
                    ng-options="state.initials as state.name for state in main.states"
                    ng-change="main.setState(main.location.state)">
                    <option value="">Selecione o seu estado</option>
            </select>
        </div>
        <div class="col-lg-3 col-sm-4 col-xs-12">
          <select chosen
                  class="form-control"
                  ng-model="main.location.city"
                  ng-options="city as city for city in main.activeState.cities track by city" ng-change="main.getForecast()">
                  <option value="">Selecione a sua cidade</option>
          </select>
        </div>
        <div class="col-md-4 col-xs-12">
          <input type="checkbox" ng-disabled="main.error" ng-model="main.location.remember" ng-value="remember" ng-change="main.toggleStorage(main.location.remember)" /> Lembrar
        </div>
      </div>

    </div><!-- /.box-body -->
  </div>
  <div class="row" ng-if="main.error">
    <div class="col-xs-12">
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="glyphicon glyphicon-alert"></i> Ops!</h4>
        {{main.error}}
      </div>
    </div>
  </div>
  <div class="row" ng-if="!main.error">
    <div class="col-xs-12" ng-show="main.forecast">
      <h1 class="h2">Tempo para: {{ main.forecast.cidade }}</h1>
      <span>Última atualização: {{main.forecast.agora.data_hora}}</span>
      <div class="row-no-padding box-weather-wrapper">
        <div class="box-weather col-xs-12 col-sm-4">
            <div class="box box-success">
              <div class="box-header with-border">
                <h3 class="box-title">{{main.forecast.agora.descricao}}</h3>
                <p class="box-date">{{main.forecast.previsoes[0].data}}</p>
              </div>
              <div class="box-body">
                <img ng-src="{{main.forecast.agora.imagem}}" class="center-block" alt="">
                <h2 class="temp-now">{{main.forecast.agora.temperatura}} ºC</h2>
                <div class="max-and-min">
                  <span class="max-temp">
                    <i class="glyphicon glyphicon-arrow-up text-red"></i>
                    {{main.forecast.previsoes[0].temperatura_max}} ºC
                  </span>
                  <span class="min-temp">
                    <i class="glyphicon glyphicon-arrow-down text-light-blue"></i>
                     {{main.forecast.previsoes[0].temperatura_min}} ºC
                  </span>
                </div>
              </div>
            </div>
        </div>
        <div class="box-weather col-xs-6 col-sm-4 col-md-2" ng-repeat="ft in main.forecast.previsoes" ng-if="!$first">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">{{ft.descricao}}</h3>
                <p class="box-date">{{ft.data}}</p>
              </div>
              <div class="box-body">
                <img ng-src="{{ft.imagem}}" class="center" alt="">
                <span class="max-temp">
                  <i class="glyphicon glyphicon-arrow-up text-red"></i>
                  {{ft.temperatura_max}} ºC
                </span>
                <span class="min-temp">
                  <i class="glyphicon glyphicon-arrow-down text-light-blue"></i>
                  {{ft.temperatura_min}} ºC
                </span>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row box-flex" ng-if="!main.error">
    <div ng-show="main.minMax.max && main.minMax.min" class="col-xs-12 col-md-4">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Mínima e Máxima</h3>
          <p>Em {{main.forecast.cidade}}</p>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-xs-6 text-center">
              <p>{{main.minMax.min.data}}</p>
              <img ng-src="{{main.minMax.min.imagem}}" alt="">
              <span class="min-temp">
                <i class="glyphicon glyphicon-arrow-down text-light-blue"></i>
                {{main.minMax.min.temperatura_min}} ºC
              </span>
            </div>
            <div class="col-xs-6 text-center">
              <p>{{main.minMax.max.data}}</p>
              <img ng-src="{{main.minMax.max.imagem}}" alt="">
              <span class="max-temp">
                <i class="glyphicon glyphicon-arrow-up text-red"></i>
                {{main.minMax.max.temperatura_max}} ºC
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4" ng-if="!main.weekend.is && main.weekend">
      <div class="box box-image box-image-home">
        <div class="box-header">
          <h3 class="box-title">Quem sabe um Netflix?</h3>
        </div>
        <div class="box-body">
          <p>A previsão para o final de semana é de uma temperatura máxima média de:</p>
          <span class="min-temp weekend big center-block text-center">
            <i class="glyphicon glyphicon-arrow-up text-red"></i>
            {{main.weekend.value}} ºC
          </span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4" ng-if="main.weekend.is && main.weekend">
      <div class="box box-image box-image-beach">
        <div class="box-header">
          <h3 class="box-title">Vai dar praia!</h3>
        </div>
        <div class="box-body">
          <p>As previsões indicam que a temperatura máxima média é de:</p>
          <span class="max-temp weekend big center-block text-center">
            <i class="glyphicon glyphicon-arrow-up text-red"></i>
            {{main.weekend.value}} ºC
          </span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4" ng-if="main.chart">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Variação da Temperatura</h3>
        </div>
        <div class="box-body box-chart">
          <div
            class="line-chart"
            line-chart
            line-data='main.chart'
            line-xkey="data"
            line-ykeys="['max', 'min']"
            line-labels="['Temperatura Máxima', 'Temperatura Mínima']"
            line-colors="['#DD4B39', '#3C8DBC']">
          </div>
      </div>
    </div>
  </div>
</section>
